{% extends 'navbar.html' %}
{% block content %}
<form action="readbook" method="post">
  {% csrf_token %}
  <h2 align="center"><u>Add book & details</u></h2>
  <table align="center">
    <tr>
      <td>bookname:</td>
      <td><input type="text" name="bkname"></td>
    </tr>
    <tr>
      <td>author name:</td>
      <td><input type="text" name="atname"></td>
    </tr>
    <tr>
      <td>course:</td>
      <td><select name="ddlcourse">
        {% for i in data %}
        <option>{{ i.course_name }}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td><input type="submit" value="submit"></td>
    </tr>
  </table>
</form>
{% endblock %}